.ct{
    margin-top:2rem;
    margin-left:1rem;
    font-size:.5rem;
    position:relative;
    z-index: 9999999;
}
.ct>div{
    display:flex;
}
.ct .ps{
    line-height: 1.7rem;
    text-indent: 1rem;
}
.ct:hover div:nth-child(2){
    display:block;
}
.ct .ssq ul li,.ct .ssq ul{
    display:flex;
}
.ct .ssq ul{
    margin-top:1rem;
    margin-left:2rem;
    margin-bottom:1rem;
    border-bottom:.001rem solid #000;
}
.ct .ssq ul li{
    border:.001rem solid #bbb;
    margin:0 1rem;
    width:11rem;
    padding:.5rem .5rem;
    padding-bottom:0rem;
    cursor: pointer;
}
.ct .ssq ul li div{
    color:#bbb ;
}
.ct .ssq ul li:hover div:first-child{
    color:#000 !important;
}
.ct .ssq ul li:hover{
    border-color:#000 !important;
    border-bottom:0;
}
.ct .ssq ul li .xsj{
    margin-right:0;
}
.ct .ssq>div{
    margin-left:0rem;
    padding-bottom:2rem;
    position: absolute;
    background: #fff;
    width:100%;
    padding-left:3rem;
}
.ct .ssq>div:first-child{
    position:absolute;
    z-index: 2 !important ;
}
.ct .ssq>div:nth-child(2){
    position:absolute;
    z-index: 50000 !important;
}
.ct .d-none{
    display:none !important;
} 
.ct .ssq>div>div{
    width:7rem;
    display:inline-block !important;
    cursor: pointer;
    color:#000 !important;
}
.ct .ssq>div>div>span{
    display:flex;
    padding:.5rem;
    display:inline-block;
}
.ct .ssq>div>div>span:hover{
    background:lightgoldenrodyellow;
    padding:.5rem;
}
.ct .ssq>div>div:first-child{
    margin:0;
}
.ct>div:nth-child(2){
    width:32rem;
    position:absolute;
    background:#fff;
    border:.001rem solid #727374;
    display:none;
    margin-left:3rem;
}
.ps{
    width:13rem;
    height:1.7rem;
    border:.001rem solid #727374;
    margin-top:-.3rem;
}
.xsj{
    width:0;
    height:.5rem;
    border:.3rem solid transparent;
    border-top:.3rem solid #727374;
    float:right;
    margin-top:.5rem;
    margin-right:1rem;
}