/* 脚手架 */
*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
a:hover{
    color:red;
}
ul{
    list-style-type:none;
}
a,div{
    color:#898989;
}
/* 加入固定定位 */
.ad{
    position:fixed;
    right:0px;top:0px;
    display:flex;
    flex-flow:row-reverse;
}
.ad2{
    display:none;
}
.ad:hover .ad2{
    display:block;
}
.middle-fixed{
    position:fixed;
    right:-86px;
    top:250px;
}
.middle-fixed li{
    padding:0;
    margin-top:-3px;
    transition:1s;
}
.middle-fixed li:hover{
    transform:translatex(-86px);
}
.m-b-fixed{
    position:fixed;
    right:0px;
    top:500px;
}
.bottom-fixed{
    position:fixed;
    right:0px;
    bottom:0px;
}
/* 头部首行 */
header{
    display:flex;
    flex-wrap: nowrap;
    background: #fff;
    height:30px;
    justify-content:center;
    margin-left:-5rem;
}
header>div,header>div>a{
    font-size:13px;
    padding-top:.5rem;
}
header>div:nth-child(2){
    display:flex;
    margin-left:30rem;
}
header>div>button{
    border:0;
    background:#e5e5e5;
}
div>span~span{
    margin-left:2rem;
}
header>div>a{
    margin-left:2rem;
}
header>div>a+a:before{
    content:"|";
    margin-right:2rem;
}
.h_r span:before{
    content:"|";
    margin-left:0.5rem;
    margin-right:1.5rem;
}
.h_r span:first-child:before{
    content:"";
}
/* 头条右侧的精灵图 */
.h_r ._bo_to{
    display:inline-block;
    width:30px;
    height:15px;
    background:url(index_icon.png) no-repeat;
    background-position:0px -234px;
    background-size:1000%;
}
#tc,#tc1,#tc2{
    border:2px solid red;
    width:5rem;
    padding-left:1rem;
    display: none;
}
.h_r>div:first-child:hover #tc,.h_r>div:nth-child(2):hover #tc1,
.h_r>div:last-child:hover #tc2{
    display:block;
}
.h_r>div:hover{
    background:#ff0101;
    color:#fff;
}
.h_r>div:hover ._bo_to {
    background-position:-1rem -234px !important;
}
.h_r>div{
    width:6.5rem;
}
.col{
    display:flex;
    flex-direction: row;
    margin-left:30rem;
    margin-top:-1.8rem;
}
input{
    border:2px solid #ff0101;
    width:30rem;
    height:2rem;
    margin-left:9rem;
    position: relative;
    top:-2rem;
}
#ss{
    background:#d7000f;
    color:#fff;
    border:0;
    outline:0;
    padding:.5rem 1.5rem;
    padding-bottom:.7rem;
    margin-left:-.3rem;
    position: relative;
    top:-2rem;
}
.col li{
    padding:.3rem 1.2rem;
    font-size:12px;
}
.col li:last-child a{
    color:#d7000f;
}
._logo{
    margin-left:8rem;
    margin-top:2rem;
}
.gwc{
    display: flex;
    margin-left:81rem;
    margin-top:-5rem;
}
.ggl{
    background: url(index_icon.png) no-repeat;
    width:3rem;
    height:3rem;
    background-position: 0px 0px; 
    background-size:800%;
}
.gwc>div:hover{
    cursor:pointer;
}
.gg{
    display: flex;
    background: #edeeee;
    line-height: 2.5rem;
    font-size:.5rem;
    height:2.5rem;
    width:9rem;
    margin-top:.5rem;
    justify-content: center;
}
.gt,.gr{
    background: url(index_icon.png) no-repeat;
    width:2rem;
    height:2rem;
    background-position: 20px -180px;
    background-size:1000%;
    margin-left:-1rem;
}
.gt{
    position:relative;
    top:-1.5rem;
    right:-3rem;
    background-position: 0px -145px;
    left:5rem;
}
.gwc img{
    position: relative;
    top: 5rem;
    left:-11rem;
}
.bg-white{display:flex;flex-direction:row;flex-wrap:wrap;z-index:1;width:1050px;height:117px;position:absolute;left:277px;left:2000px;top:-139px;transform:translate(-1724px,200px);}
.d-mulu{display:flex;flex-direction:column;}
.bg-white a{color:#898989 !important;}
.dx{position:absolute;top:232.2px;left:281px;list-style:none;z-index:100000000;background:#e2051b;width:277px !important;}
.dx>li>div:first-child>a{display:block;width:277px !important;height:50.6px;color:#fff !important;background-image:url(index_icon.png) no-repeat;text-decoration:none;text-indent:30px;line-height:50.5px;}
.dx>li>div:first-child+div{border-top:0.1px solid #edeeee;}
.dx>li>div:first-child:hover{background:#fff;}
.dx>li:hover .d-dz{display:block;}
.dx>li>div:first-child>a:hover{color:#e2051b !important;}
.r-img{position:absolute;right:10px;top:-1px;display:flex;flex-direction: column;}
.r-img a:before{content:"" !important;}
.d-dz.bg-white{margin-top:-62px;height:457px;z-index:999999;display:none;}
.bg-white .column{list-style:none;}
.d-dz{display:flex;flex-direction:row !important;}
.d-dz a~a:before{content:" | ";}
.d-dz a~a{font-size:5px;}
.d-dz a~a:hover{text-decoration: none;color:#e2051b !important;}
.d-dz ul a:first-child{text-decoration: none;margin-left: 20px;margin-right:50px;color:#595757 !important;font-size:15px;}
.d-dz li{padding-top:10px !important;}
._gti{display:inline-block;background-image:url(index_icon.png);width:10px;height:20px;background-position: 0px -120px;background-size:2000%; position:relative;top:10px;}
._gt{display:inline-block;width:100px !important;}
.w_left{display:inline-block;width:184px;}
.dx{
    width:10rem !important;
    display: none;
}
.dx>li>div:first-child>a{
    width:10rem !important;
}
.d-dz{
    margin-left:-7rem;
}
.y_c{
    width:10rem;
}
.y_c:hover .dx{
    display:block;
}
.f_l{
    width:10rem !important;
    margin-left:17.55rem;
    margin-top:3rem;
    background:#e2051b;
    color:#fff;
    display:inline-block;
    height:50.6px;text-decoration:none;text-indent:30px;line-height:50.5px;
}
.t_m{
    display: flex;
    margin-top:-2rem;
    margin-left:30rem;
}
.t_m li{
    padding:0 1rem;
}
.t_m li:last-child a{
    color:#e2051b;
}
.xin{
    background:url(index_icon.png) no-repeat;
    width:2rem;
    height:2rem;
    background-position: 0px -105px;
    background-size:1000%;
    margin-left:62rem;
    margin-top:-2.5rem;
}
