*{margin:0;padding:0;}
ul{list-style:none;} 
#footer a{text-decoration:none;}
#footert{width:100%;margin-top:525px;background:#efefef;height:130px;}
#footert ul{margin:20px auto;background:#efefef;display:flex;justify-content:space-around;width:70%;position:relative;}
#footert ul li{position:relative;width:25%;}
#footert ul li span{width:65%;font-size:8px;}
#ta1,#ta2,#ta3,#ta4{background:url(index_icon.png) no-repeat;position:absolute;background-position:-98px 0px;width:70px;height:65px;top:25px;right:230px;}
#footert ul li a:not(:first-child),#footert ul li span{position:relative;top:25px;left:110px;color:#595757 !important;}
#ta2{background-position:-98px -65px;}
#ta3{background-position:-98px -130px;}
#ta4{background-position:-98px -195px;}
#footerm>ul{display:flex;margin-left:50px;}
#footerm>ul>li{padding:0 25px;}
#footerm>ul>li>ul{font-size:13px;padding:10px 2px;}
#footerm>ul>li>ul>li{font-size:13px;padding:7px 2px;}
#footerm{display:flex;margin-top:20px;color:#595757;}
#footerm a,#footerb,#footerb a{color:#595757;}
#footerm .left a{color:#e31126;}
.left-img{margin-left:300px;}
.left{width:300px;text-align:justify;line-height:27px;margin-left:10px;}
.left p:last-child{font-size:7px;}
#footerb{width:100%;height:200px;margin-top:30px;}
#tb-1,#tb-2,#tb-d1,#tb-d2{width:100%;text-align:center;}
#tb-2{margin-top:20px;font-size:5px;}
#tb-d2{background:#efefef;margin-top:120px;height:30px;}
#tb-d1{position:relative;margin-left:400px;}
#tb-d1 a,#tb-d1 span{float:left;margin:40px 50px;}
#d1-a2{background:url(kexin.jpg);width:98px;height:37px;}
#d1-s1{background:url(unionpay.jpg);width:65px;height:37px;}
#d1-s2{background:url(alipay.jpg);width:98px;height:37px;}
#d1-s3{background:url(weixin.jpg);width:79px;height:37px;}
#d1-a1{background:url(icp.jpg);width:96px;height:37px;}
#d1-a3{background:url(gonganbu.png);width:140px;height:37px;}
#tb-d2 span{font-size:15px;padding:2px 2px;}
#footer  a:hover,#footert>ul>li>a:last-child:hover {color:red !important ;}
#tb-1 a{font-size:15px;padding:0 12px;}